.widget-area {
  padding-top: 100px;
  padding-bottom: 40px;
}

.copyright-wrap {
  text-align: center;  
  padding: 42px 0;
  position: relative;
  z-index: 2;
}

.copyright-menu {
  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    font-size: 16px;
    font-weight: 500;
    color: $title-color;

    &:hover {
      color: $theme-color2;
    }
  }
}

.copyright-text {
  margin: 0;
  font-size: 16px;
  font-weight: 700;

  a {
    color: $theme-color2;

    &:hover {
      color: $title-color;
      text-decoration: underline;
    }
  }
}


.footer-layout1,
.footer-layout2 {
  .footer-widget.widget_nav_menu {
    a {
      color: $white-color;

      &:hover {
        color: $theme-color2;
      }
    }
  }
}

.footer-layout1 {
  background-color: #06071A;
  --body-color: #C7C7C7;
  --title-color: #fff;
}

.footer-layout2 {
  --body-color: #fff;
  --title-color: #fff;

  .footer-middle {
    border-top: 3px solid rgba(#fff, 0.10);
    position: relative;
    z-index: 1;
    padding: 40px 0;
  }

  .copyright-wrap {
    background-color: #111330;
    border-top: 1px solid rgba(#707070, 0.5);
  }
}


@include lg {
  .footer-layout1 {
    font-size: 14px;
  }
}


@include md {
  .copyright-text {
    font-size: 14px;
  }
}