.brand-wrap1 {
  background-color: #FAFAFA;
  padding: 30px;
  position: relative;

  [class*=col-] {
    position: relative;
    z-index: 1;
    transition: all ease 0.4s;

    &:hover {
      z-index: 2;
    }
  }

  .shape-dotted {
    position: absolute;
    right: -30px;
    bottom: -33px;
    z-index: -1;
  }
}

.brand-style1 {
  border: 1px solid #DDDDDD;
  height: 140px;
  line-height: 140px;
  text-align: center;
  padding: 0 20px;
  margin: -0.5px;
  background-color: $white-color;
  transition: all ease 0.4s;
  z-index: 1;

  &:hover {
    z-index: 2;
    border-color: $theme-color2;
  }
}

.slick-slide {
  .brand-style1 {
    margin: 1px 0;
  }
}

@include ml {
  .brand-wrap1 {
    .shape-dotted {
      right: -20px;
      bottom: -23px;
    }
  }
}

@include sm {
  .brand-wrap1 {
    padding: 20px;

    .shape-dotted {
      right: 0;
      bottom: -23px;
    }
  }
}