.team-style1 {
  margin-bottom: 30px;

  .team-img {
    width: 350px;
    height: 350px;
    border: 1px solid #DDDDDD;
    outline: 2px solid transparent;
    outline-offset: -2px;
    border-radius: 50%;
    position: relative;
    padding: 10px;
    margin-left: auto;
    transition: all ease 0.4s;

    img {
      border-radius: 50%;
      width: 100%;
    }
  }


  .team-name {
    font-size: 26px;
    margin: 0;

    a {
      color: inherit;
      transition: all ease 0.4s;
    }
  }

  .team-degi {
    font-weight: 500;
    color: $theme-color2;
    display: block;
    border-bottom: 1px solid #DDDDDD;
    padding: 0 0 15px 0;
    margin: 0 0 20px 0;
    transition: all ease 0.4s;
  }

  .team-number {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: all ease 0.4s;
    
    a {
      color: #555555;
      transition: all ease 0.4s;

      &:hover {
        color: $theme-color2 !important;
      }
    }

    img {
      margin-right: 10px;
      transition: all ease 0.4s;
      filter: none;
    }
  }

  .team-content {
    background-color: #F7F7F7;
    padding: 180px 50px 35px 50px ;
    margin: -150px 0 0 0;
    max-width: 340px;
    transition: all ease 0.4s;
  }

  .team-links {
    position: absolute;
    left: -5px;
    bottom: 34px;
    text-align: center;  
    background-color: $white-color;
    outline: 3px solid $theme-color2;
    outline-offset: -3px;
    border-radius: 9999px;
  }

  .share-btn {
    display: inline-block;
    text-align: center;
    width: 70px;
    height: 70px;
    line-height: 59px;
    border-radius: 50%;
    font-size: 24px;
    background-color: $white-color;
    color: $title-color;
    border: 1px solid #DDDDDD;
    position: relative;
    z-index: 1;

    i {
      vertical-align: middle;
    }
  }


  .team-social {
    margin: 0;
    padding: 28px 20px 0 20px;
    list-style-type: none;
    display: none;

    a {
      color: #555555;
      display: inline-block;
      font-size: 18px;
    }
    
    li {
      margin-bottom: 13px;
      padding-bottom: 10px;
      border-bottom: 1px solid #DEDEDE;

      &:last-child {
        margin-bottom: 10px;
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }


}

.slick-center .team-style1,
.team-style1:hover {
  .team-img {
    border-color: transparent;
    outline-color: $theme-color2;
  }

  .team-content {
    background-color: $theme-color;
  }

  .share-btn {
    background-color: $theme-color2;
    color: $white-color;
    border-color: transparent;
  }

  .team-degi,
  .team-number a,
  .team-name a {
    color: $white-color;
  }

  .team-number {
    img {
      filter: brightness(0) invert(1);
    }
  }
}

@include ml {
  .team-style1 {
    .team-img {
      width: 300px;
      height: 300px;
    }

    .team-content {
      padding: 180px 35px 35px 35px;
      margin: -150px 0 0 0;
      max-width: 320px;
    }

    .share-btn {
      width: 60px;
      height: 60px;
      line-height: 58px;
      font-size: 20px;
    }

    .team-name {
      font-size: 24px;
    }

    .team-degi {
      font-size: 14px;
    }

    .team-number {
      font-size: 16px;
    }
  }
}


@include lg {
  .team-style1 {
    .team-img {
      width: 280px;
      height: 280px;
    }

    .share-btn {
      width: 55px;
      height: 55px;
      line-height: 53px;
      font-size: 18px;
    }

    .team-social {
      padding: 20px 15px 0 15px;

      li {
        margin-bottom: 9px;
        padding-bottom: 7px;
      }
    }
  }
}


@include md {
  .team-style1 {
    .team-img {
      width: 250px;
      height: 250px;
      margin: 0 auto 0 auto;
    }

    .share-btn {
      width: 50px;
      height: 50px;
      line-height: 47px;
      font-size: 17px;
    }

    .team-content {
      padding: 150px 25px 35px 25px;
      margin: -120px 0 0 0;
      max-width: 100%;
    }
  }
}